<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>在席管理システム</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    
    <script src="//bit.ly/cdn-bootstrap-jq"></script>
<style>
    html, body {
      height: 100%;
    }
</style>
<script src = "/public/javascripts/update.js"></script>
<script src = "/public/javascripts/usr_update.js"></script>
<body>
    
  <div class="vertical-center">
      <div class="container">
  <table class="table" id="stockTable">
      <tbody id="stockRows">
          <img src="/public/images/Prob_layout.png" width="1280":height="700" style="position:absolute;top:50px;left:150px;">
          <td id="1"><span class="label label-default"style="position:absolute; top:220px;left:450px;"><font size = "6"><h2>空席</h2></font></span></td>
          <td id="2"><h1><span class="label label-default"style="position:absolute; top:220px;left:450px;"><font size = "6">空席</font></span></td>
          <td id="3"><h1><span class="label label-default"style="position:absolute; top:220px; left:450px;"><font size = "6">空席</font></span></td>
          <td id="4"><h1><span class="label label-default"style="position:absolute; top:220px; left:450px;"><font size = "6">空席</font></span></td>
          <td id="5"><h1><span class="label label-default"style="position:absolute; top:220px; left:450px;"><font size = "6">空席</font></span></td>
          <td id="6"><h1><span class="label label-default"style="position:absolute; top:220px; left:450px;"><font size = "6">空席</font></span></td>
        </tbody>
      </div>
    </table>
</div>

</body>